@import "_nullstyle";
@import "_ui";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&family=Poppins:wght@300;400;500;600&display=swap');


html {
	scroll-behavior: smooth;
}
body {
    background-color: #000;
}
.wrapper {
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    padding: 20px 0;
    font-family: Inter;
    font-size: 20px;
    line-height: 50px;
	background: url(../img/jpg/bg.jpg) center 0 no-repeat;

        &__body{
            display: flex;
			align-items: center;
			padding: 0 20px;
        }

		&__logo {
			max-height: 50px;
            svg {
                fill: white;
                width: 50px;
                height: 50px;
				transition-duration: 0.5s;
				&:hover {
					fill: #BDAE82;
				}
            }
		}

		&__menu {
            margin-left: auto;
            color: white;
		}

		&__switch-lng {
            padding-left: 31px;
            display: flex;
		}
}
.menu {
    
    display: flex;
		&__link {
            padding-left: 31px;
            a {
                color: white;
				&:hover {
					color: #BDAE82;
					transition-duration: 0.5s;
				} 
            }
		}
}
.switch-lng {
    
		&__en {
            color: #BDAE82;
		}

		&__fraction {
            padding-left: 9px;
            color: white;
		}

		&__ru {
            padding-left: 9px;
            color: white;
		}
}
.main {

		&__hero {
			padding: 160px 0 330px 80px;
			background: url(../img/jpg/bg.jpg) center bottom no-repeat;
		}

		&__skills {
			margin-top: 100px;
		}

		&__portfolio {
			margin-top: 109px;
		}

		&__video {
			margin-top: 75px;
		}

		&__price {
			margin-top: 100px;
		}

		&__contacts {
			margin-top: 100px;
			padding: 60px 20px 195px 970px;
			background: url(../img/jpg/contacts.jpg);
		}
}
.hero {
	
		&__title {
			font-family: Merriweather;
			font-weight: bold;
			color: #fff;
			font-size: 60px;
			line-height: 120px;
			margin-bottom: 10px;
		}

		&__text {
			font-family: Inter;
			color: #fff;
			max-width: 470px;
			font-size: 20px;
			line-height: 40px;
			margin-bottom: 25px;
		}
}
.skills {

		&__subtitle {
			padding-top: 47px;
			font-family: Inter;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 40px;
			color: #fff;
		}

		&__items {
			display: flex;
			justify-content: space-between;
			padding: 0 40px;
		}

		&__item {
			max-width: 280px;
			text-align: center;
		}

		&__icon {
			fill: #BDAE82;
			&:nth-child(1) {
				width: 62px;
				height: 50px;
			}
			&:nth-child(2) {
				width: 60px;
				height: 50px;
			}
			&:nth-child(3) {
				width: 66px;
				height: 50px;
			}
			&:nth-child(4) {
				width: 32px;
				height: 50px;
			}
		}

		&__text {
			padding-top: 21px;
			font-family: Inter;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 36px;
			color: #fff;
			text-align: center;
		}
}
.portfolio {

		&__title {
			&:before {
				content: '';
				width: 240px;
			}
			&::after {
				content: '';
				width: 240px;
			}
		}

		&__btns {
			display: flex;
			justify-content: center;
			button {
				margin-left: 5px;
				&:first-child {
					margin-left: 0;
				}
			}
		}

		&__btn {
		}

		&__items {
			margin: 60px 20px 0 20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__item {
			margin-bottom: 25px;
		}
}
.video {

		&__title {
		}

		&__content {
			margin: 0 20px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		// button {
		// 	position: absolute;
		// 	top: 100px;
		// 	left: 100px;
		// }
		&__btn {
			position: absolute;
			background-color: rgba($color: #000000, $alpha: 0);

			// // top: 100px;
			// // left: 100px;
			// width: 130px;
			height: 130px;
			svg {
				fill: #fff;
				width: 130px;
				height: 130px;
				&:hover {
					fill: #BDAE82;
					transition-duration: 0.5s;
				}
			}
		}
}
.price {

		&__title {
			&:before {
				content: '';
				width: 280px;
			}
			&::after {
				content: '';
				width: 280px;
			}
		}

		&__subtitle {
			font-family: Merriweather;
			font-weight: bold;
			font-size: 28px;
			line-height: 56px;
			text-align: center;
			color: #fff;
		}

		&__items {
			padding: 0 20px;
			display: flex;
			justify-content: space-between;
		}

		&__item {
			padding: 40px  0;
			width: 450px;
			border: 3px solid #BDAE82;
			display: flex;
			flex-direction: column;
			button {
				padding-top: 40px;
				background-color: rgba($color: #000000, $alpha: 0);
			}
		}

		&__coast {
			padding-top: 20px;
			font-family: Merriweather;
			font-weight: bold;
			font-size: 24px;
			line-height: 48px;
			text-align: center;
			color: #BDAE82;
		}

		&__text {
			padding-top: 20px;
			font-family: Inter;
			font-size: 18px;
			line-height: 36px;
			text-align: center;
			color: #fff;
		}
}
.contacts {

		&__body {
			display: flex;
			flex-direction: column;
			align-items: start;
		}

		&__title {
			font-family: Merriweather;
			font-style: normal;
			font-weight: bold;
			font-size: 40px;
			line-height: 80px;
			color: #BDAE82;
			margin-bottom: 40px;
		}

		&__field {
			background: rgba(0, 0, 0, 0.5);
			border: 2px solid #BDAE82;
			height: 50px;
			width: 450px;
			margin-bottom: 20px;
			font-family: Inter;
			font-size: 20px;
			line-height: 40px;
			color: #BDAE82;
			padding: 0 20px;
			&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
			&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
			&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
			&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
			&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
			&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
			&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
			&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
			&::placeholder {
				font-family: Inter;
				font-size: 20px;
				line-height: 40px;
				color: #BDAE82;
			}
			&_text {
				height: 100px;
				margin-bottom: 30px;
			}
		}

		&__btn {
		}
}
.footer {

		&__body {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 50px 0;
		}

		&__data {
			display: flex;
			font-family: Inter;
			font-size: 20px;
			line-height: 50px;
			color: #fff;
			P {
				padding-left: 20px;
			}
			a {
				color: #fff;
				&:hover {
					color: #BDAE82;
					transition-duration: 0.5s;
				}
			}
		}

		&__rss {
			padding-left: 20px;
			a{
				font-family: Inter;
				font-size: 20px;
				line-height: 50px;
				color: #fff;
				&:hover {
					color: #BDAE82;
					transition-duration: 0.5s;
				}
			}
		}

		&__social {
			height: 32px;
			display: flex;
			li {
				padding-right: 20px;
			}
			svg {
				fill: #fff;
				height: 32px;
				width: 32px;
				transition-duration: 0.5s;
				&:hover {
					fill: #BDAE82;
				}
			}
		}
}
